{# src/GP/PlatformBundle/Resources/views/Car/add.html.twig #}

{% extends "GPPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block gpplatform_body %}

  <h2>Ajouter une nouvelle voiture : </h2>

  {{ include("GPPlatformBundle:Car:form.html.twig") }}

 
{% endblock %}