{# src/GP/PlatformBundle/Resources/views/Customer/add.html.twig #}

{% extends "GPPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block gpplatform_body %}

  <h2>Ajouter un nouveau client : </h2>

  {{ include("GPPlatformBundle:Customer:form.html.twig") }}

 
{% endblock %}