{# src/GP/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "GPPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block gpplatform_body %}

  <h2>Page d'accueil</h2>

	<p>Ceci est la page d'accueil</p>
 

{% endblock %}