{# src/GP/PlatformBundle/Resources/views/Bill/add.html.twig #}

{% extends "GPPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block gpplatform_body %}

  <h2>Ajouter une nouvelle Facture : </h2>
  
  {{ include("GPPlatformBundle:Bill:form.html.twig") }}

 
{% endblock %}